/*                              Иконочный шрифт                              */
@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*                               Базовые стили                               */
body {
  font-size: 15px;
  line-height: 24px;
  color: #333;
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*                       Верхняя навигация с логотипом                       */
.navigation-top {
  position: relative;
}

.navigation-top ul {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;

  text-align: center;
  box-sizing: border-box;
  padding: 0 6%;
  background-color: #fff;
}

.navigation-top li {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 20%;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-top li:nth-of-type(1) {
  text-align: left;
  margin-right: 2.75%;
}

.navigation-top li:nth-of-type(2) {
  text-align: left;
  margin-right: 7.3%;
}

.navigation-top li:nth-of-type(3) {
  text-align: right;
  margin-left: 7.2%;
}

.navigation-top li:nth-of-type(4) {
  text-align: right;
  margin-left: 2.75%;
}

.navigation-top a {
  display: inline-block;
  vertical-align: baseline;

  padding: 14px 0 16px 0;
  text-decoration: none;
  color: #000;
}

.navigation-top a:visited {
  color: #000;
}

.navigation-top a:hover {
  color: #81b3d2;
}

.navigation-top a:active {
  color: #000;
  opacity: 0.3;
}

.active a,
.active a:visited {
  color: #766357;
}

.active a:hover {
  color: #604e43;
}

.active a:active {
  color: #766357;
  opacity: 0.3;
}

.navigation-top .header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  text-align: center;
  padding: 0;
  z-index: 2;
}

.header-logo img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 2;
}

/*                    Фотография (интро) + надписи на ней                    */
.intro {
  position: relative;
  z-index: 1;
  background: #deedf6 url("../img/intro-photo.jpg") no-repeat center -56px;
  min-height: 508px;
}

.slogan-top {
  width: 256px;
  margin: 0 auto;
}

.slogan-top img{
  display: block;
  padding-top: 76px;
  max-width: 100%;
  height: auto;
}

.slogan-middle {
  width: 458px;
  margin: 0 auto;
}

.slogan-middle img{
  display: block;
  padding-top: 52px;
  max-width: 100%;
  height: auto;
}

.slogan-bottom {
  width: 296px;
  margin: 0 auto;
}

.slogan-bottom img{
  display: block;
  padding-top: 56px;
  max-width: 100%;
  height: auto;
}

.intro::after {
  content: '';
  display: block;
  width: 100%;
  max-width: 100%;
  height: 57px;
  position: absolute;
  bottom: 0;
  background: url("../img/intro-line.png") no-repeat center bottom;
  background-size: 100%;
}

/*                              Текстовый блок                               */
.intro-text {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 51px;

  padding-left: 25%;
  padding-right: 25%;
}

.intro-text-title {
  margin: 0;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.intro-text-features {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #333;

  padding-top: 30px;
  text-align: center;
}

/*                         Блок feature с картинкой                          */
.feature-text {
  float: left;
  width: 33.33%;

  background-color: #81b3d2;
  color: #fff;

  box-sizing: border-box;
  min-height: 256px;

  padding: 53px 5% 20px;

  text-align: center;
}

.feature-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  max-width: 180px;


  margin: 0;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 22px;

}

.feature-number {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  margin-bottom: 26px;
}

.feature-about {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.feature-image {
  position: relative;
  overflow: hidden;
  min-height: 256px;
  width: 66.67%;
  float: left;
}

.feature-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*                              Блок с иконками                              */
.icons {
  background-color: #fff;
}

.icon-item {
  box-sizing: border-box;
  padding-top: 159px;
  padding-bottom: 82px;
  padding-left: 5.91666666%;
  padding-right: 5.91666666%;
  float: left;
  width: 33.333333%;
  position: relative;
  text-align: center;
}

.icon-image {
  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 50%;
}

.icon-house::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: baseline;

  width: 75px;
  height: 72px;
  background: url("../img/spritesheet.png") no-repeat center;
  background-position: -10px -196px;
}

.icon-burger {
  width: 74px;
  height: 70px;
  top: 61px;
}

.icon-burger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: baseline;
  width: 74px;
  height: 70px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -10px -10px;
}

.icon-gift {
  width: 64px;
  height: 76px;
  top: 56px;
}

.icon-gift::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: baseline;
  width: 64px;
  height: 76px;

  background: url("../img/spritesheet.png") no-repeat;
  background-position: -10px -100px;
}

.icon-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  margin: 0;
  padding-bottom: 21px;
}

.icon-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/*                    Переопределения для линии с фичами                     */
.features-line .feature-text {
  background-color: #eee;
  color: #000;
  float: left;
  width: 33.333333%;
  padding-top: 45px;
}

/*                           Блок Заинтересовались?                          */
.search-hotels {
  position: relative;

  background-color: #fff;
  padding-top: 50px;
  z-index: 4;
}

.search-text {
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 45px;
}

.search-title {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;

  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.search-about {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333;

  text-align: center;
}

.search-show {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 568px;
  min-height: 86px;

  font-size: 21px;
  font-weight: 700;
  line-height: 86px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #766357;
}

.search-show:hover {
  background-color: #604e43;
}

.search-show:active {
  color: #857871;
  background-color: #503e33;
}

/*                               Форма поиска                                */
.search-block {
  display: none;
  opacity: 1;
  position: absolute;
  z-index: -1;
  right: 50%;
  left: 50%;
}

/* Для внутренней страницы */
.inner-page .search-hotels {
  z-index: 1;
  background-color: #fff;
}

.inner-search-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.inner-page .search-block {
  display: block;
  position: static;
  right: auto;
  left: auto;

  padding-bottom: 40px;
}

.form-search {
  transform: translateX(-50%);

  background-color: #fff;
  padding: 55px;


  box-sizing: border-box;
  width: 568px;

  font-size: 14px;
  line-height: 38px;
  font-weight: 700;

  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

/* Для внутренней страницы */
.inner-page .form-search {
  transform: none;
  margin: 0 auto;
  box-shadow: none;
  background-color: #fff;
}

.form-line {
  margin-bottom: 29px;
}

/* Отступ для кнопки */
.form-line:last-of-type {
  margin-bottom: 55px;
}

/* При фокусе пропадает текст плейсхолдера*/
.form-search input[type="text"]:focus::-moz-placeholder          { color: transparent; }
.form-search input[type="text"]:focus:-moz-placeholder           { color: transparent; }
.form-search input[type="text"]:focus:-ms-input-placeholder      { color: transparent; }
.form-search input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }

.form-search input[type="text"]::-moz-placeholder          { color: #000; }
.form-search input[type="text"]:-moz-placeholder           { color: #000; }
.form-search input[type="text"]:-ms-input-placeholder      { color: #000; }
.form-search input[type="text"]::-webkit-input-placeholder { color: #000; }

.form-left {
  float: left;
  width: 112px;
}

.form-right {
  float: right;
  width: 346px;
}

.form-right input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 38px;

  outline: none;
  border: none;
  background-color: #f2f2f2;
  padding-left: 15px;
  padding-right: 50px;
  color: #000;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-right input[type="text"]:hover {
  background-color: #ebebeb;
}

.form-right input[type="text"]:focus {
  background-color: white;
  outline: 2px solid #e5e5e5;
}

.calendar-input {
  position: relative;
}

.calendar-button {
  position: absolute;
  display: block;
  width: 39px;
  height: 34px;
  right: 2px;
  top: 2px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
}

.calendar-button::before {
  content: '\e800';
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  color: #c2c2c2;
  font-size: 21px;
  line-height: 26px;
}

.calendar-button:hover::before {
  color: #000;
}

.calendar-button:active::before {
  color: #81b3d2;
}

.calendar-input input[type="text"]:hover + .calendar-button {
  background-color: #ebebeb;
}

.calendar-input input[type="text"]:focus + .calendar-button {
  background-color: #fff;
}

.icon-plus::before,
.icon-minus::before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
}

.icon-plus::before { content: '\e801'; }
.icon-minus::before { content: '\e802'; }

.form-button-symbol {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  color: darkgrey;
  font-size: 14px;
  line-height: 26px;
}

.form-button-symbol:hover {
  background-color: #ebebeb;
  color: #000;
}

.form-button-symbol:active {
  background-color: white;
  border: 2px solid #e5e5e5;
  color: #81b3d2;
}

.form-right-first {
  float: left;
  width: 167px;

  font-size: 0;
}

.form-right-last {
  float: right;
  width: 179px;

  font-size: 0;
}

.form-right-last span {
  /* Восстанавливаем шрифт*/
  font-size: 14px;
  /* Отступ справа от надписи Дети*/
  margin-right: 27px;
}

.form-right-first input[type="text"],
.form-right-last input[type="text"] {
  width: 20%;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

.search-button {
  box-sizing: border-box;
  width: 458px;
  min-height: 58px;
  outline: none;
  border: none;
  background-color: #81b3d2;
  color: #fff;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.search-button:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

/*                               Карта и футер                               */
.map {
  position: relative;
  z-index: 1;
  background: #cbdda9 url("../img/map.png") no-repeat;
  min-height: 593px;
  width: 100%;
}

.google-map {
  width: 100%;
  height: 593px;
  border: none;
}

.footer-main {
  width: 100%;
  min-height: 84px;
  opacity: 0.9;
  background-color: #fff;
  padding-top: 36px;
}

.footer-attached {
  position: absolute;
  background-color: #f9fbf6;
  bottom: 0;
}

.footer-column {
  float: left;
  width: 33.333333%;
  text-align: center;
}

.footer-hash {
  margin: 0;
  padding: 0;
  margin-top: 10px;

  font-size: 21px;
  line-height: 25px;
  font-weight: 700;

  color: #000;
}

.social-block {
  font-size: 0;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn::after {
  font-family: 'symbols-sedona';
  display: inline-block;
  vertical-align: baseline;
  text-transform: none;
  content: '';
  left: 50%;
  top: 50%;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
}

.social-twitter::after {
  content: '\74';
  transform: translate(-50%, -50%);
}

.social-twitter:active::after {
  opacity: 0.3;
}

.social-facebook::after {
  content: '\66';
  transform: translate(-50%, -50%);
}

.social-facebook:active::after {
  opacity: 0.3;
}

.social-youtube::after {
  content: '\f39e';
  transform: translate(-50%, -50%);
}

.social-youtube:active::after {
  opacity: 0.3;
}

.copyright-link {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 5px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.copyright-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 0;

  width: 113px;
  height: 39px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -10px -288px;
}

.copyright-link:hover .copyright-logo {
  background-position: -10px -406px;
}

.copyright-link:active .copyright-logo {
  background-position: -10px -347px;
}


/*                           Страница hotels.html                            */
.form-filter {
  background: #4a7798 url("../img/background-blur.jpg") no-repeat 0px -54px;
  box-sizing: border-box;
  min-height: 217px;

  padding-top: 27px;

  padding-left: 6%;
  padding-right: 6%;
}

.checkbox-block {
  float: left;
  width: 20%;
  min-width: 154px;
}

.checkbox-block-2 {
  float: left;
  padding-left: 4.4%;
}

.show-block {
  float: right;
  width: 30.5%;
  min-width: 224px;
  padding-left: 9.5%;
  text-align: center;
}

.fieldset-title {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
}

.checkbox-block .fieldset-title,
.checkbox-block-2 .fieldset-title {
  margin-bottom: 25px;
}

.show-block .fieldset-title {
  margin-bottom: 10px;
  text-align: left;
}

.form-filter input[type="checkbox"] {
  display: none;
}

.checkbox-block label,
.checkbox-block-2 label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #fff;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  padding-left: 40px;
  cursor: pointer;
}

.checkbox-block label::before,
.checkbox-block-2 label::before {
  content: "\2610";
  font-family: "symbols-sedona";
  color: #b5b5b5;
  font-size: 26px;
  line-height: 20px;
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 26px;
  height: 22px;
}

.checkbox-block input[type="checkbox"]:checked + label::before,
.checkbox-block-2 input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.checkbox-block label:hover::before,
.checkbox-block-2 label:hover::before {
  color: #fefefe;
}

.checkbox-block input[type="checkbox"]:disabled + label::before,
.checkbox-block-2 input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a;
}

.form-filter .fieldset-line {
  margin-bottom: 22px;
}


/*                             Ползунок с ценами                             */
.show-block .range-filter {
  margin-left: 6px;
  margin-bottom: 32px;
}

.range-filter .price-controls {
  margin-bottom: 20px;
}

.price-controls {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 0;
}

.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  width: 50%;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  text-align: center;
  line-height: 32px;
}

.price-controls .min-price {
  padding-left: 35px;
}

.price-controls .max-price {
  padding-left: 15px;
}

.price-controls input[type="text"] {
  width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

/* При фокусе пропадает текст плейсхолдера*/
.range-filter input[type="text"]:focus::-moz-placeholder          { color: transparent; }
.range-filter input[type="text"]:focus:-moz-placeholder           { color: transparent; }
.range-filter input[type="text"]:focus:-ms-input-placeholder      { color: transparent; }
.range-filter input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }

.range-filter input[type="text"]::-moz-placeholder          { color: #fff; }
.range-filter input[type="text"]:-moz-placeholder           { color: #fff; }
.range-filter input[type="text"]:-ms-input-placeholder      { color: #fff; }
.range-filter input[type="text"]::-webkit-input-placeholder { color: #fff; }

/* Стилизация разделителя */
.price-controls::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #fff;
  top: 5px;
  right: 50%;
  left: 50%;
}

.range-filter .scale {
  width: 100%;
  height: 2px;
  background-color: #918383;
}

.range-filter .bar {
  width: 82%;
  height: 2px;
  background-color: #fff;
}

.range-controls {
  position: relative;
}

.range-controls .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
  top: -9px;
}

.range-controls .toggle::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  margin: 8px 8px;
  border-radius: 50%;
}

.range-controls .toggle:hover {
  cursor: pointer;
}

.toggle:hover::after {
  background-color: #1c4f80;
}

.range-controls .toggl-max {
  left: 80%;
}

/* Кнопка Показать */
.filter-submit {
  display: inline-block;
  vertical-align: baseline;
  box-sizing: border-box;

  width: 137px;
  height: 36px;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
  border: 2px solid #fff;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
}

/* Моя инициатива */
.filter-submit:hover {
  border-color: #b5b5b5;
  color: #b5b5b5;
}
.filter-submit:active {
  border-color: #766357;
  color: #766357;
}

/*                               Линия Найдено                               */
.search-results {
  background-color: #fff;
}

.search-settings {
  padding: 31px 6% 24px;

  border-bottom: 1px solid #e5e5e5;
}

.search-column-first {
  float: left;
  width: 135px;
  margin-right: 30px;
}

.search-column-middle {
  float: left;
}

.search-column-last {
  float: right;
}

.search-count {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.search-sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;

  padding-top: 7px;
}

.search-sort li {
  display: inline-block;
  vertical-align: top;
  margin-right: 33px;

  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.search-sort-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.search-sort a {
  display: block;
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  border-bottom: #81b3d2 1px dotted;
}

.search-sort a:hover {
  color: #81b3d2;
  opacity: 1;
}

.search-sort a:active {
  color: #000;
  opacity: 1;
  border-bottom: none;
}

.sort-active {
  color: #81b3d2;
}

.search-order {
  font-size: 0;
  position: relative;

  margin-right: 36px;
}

.order-up {
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ccc;
}

.order-down {
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ccc;
}

.order-up:first-child {
  top: 8px;
  left: 3px;
}

.order-down:first-child {
  top: 8px;
  left: 3px;
}

.order-up:last-child {
  top: 8px;
  left: 25px;
}

.order-down:last-child {
  top: 8px;
  left: 25px;
}

.order-active {
  border-bottom-color: #81b3d2;
  border-top-color: #81b3d2;
}

.search-order a:hover {
  border-bottom-color: #000;
  border-top-color: #000;
}

.search-order a:active {
  border-bottom-color: #81b3d2;
  border-top-color: #81b3d2;
}

/*                      Строка с параметрами гостиницы                       */
.hotel-item {
  padding: 24px 6% 31px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-image img {
  display: block;
  margin: 0 auto;
  max-width: 135px;
  height: auto;
}

.hotel-info {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-info h2{
  margin: 0;
  padding: 0;
  margin-bottom: 7px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-info a {
  display: block;
  text-decoration: none;
  color: #000;
}

.hotel-info a:hover {
  color: #81b3d2;
}

.hotel-info a:active {
  color: #000;
  opacity: 0.3;
}

.hotel-image img {
  padding-top: 4px;
}

.info-left {
  float: left;
  margin-right: 6px;
}

.info-right {
  float: right;
}

.hotel-type,
.hotel-cost {
  margin-bottom: 14px;
}

.btn {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  min-height: 27px;

  color: #fff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.btn-more {
  background-color: #81b3d2;
  width: 110px;
}

.btn-more:hover {
  background-color: #669ec0;
}

.btn-more:active {
  background-color: #669ec0;
  color: #88b6d1;
}

.btn-book {
  background-color: #766357;
  width: 142px;
}

.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.hotel-status {
  text-align: right;
}

.hotel-status .stars {
  margin-bottom: 44px;
}

.i-star::after {
  display: inline-block;
  vertical-align: baseline;
  content: "\2605";
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;

  color: #81b3d2;
  font-size: 19px;
  line-height: 21px;

  width: 1em;
  text-align: center;

  text-transform: none;
}

.hotel-status .rating {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;

  padding-left: 16px;
  padding-right: 10px;

  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

/*                          Для формы с Javascript                           */
@keyframes bounce {
  from {
    opacity: 0;
    transform: translateY(-146px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal-content-show {
  display: block;
}

.modal-content-animation {
  animation: bounce 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}